@import url(/reset.css);
.container {
  background-color: #5858582d;
  margin: 20px;
}
.header {
  background-color: #FFF190;
  margin-bottom: 20px;
  height: 100px;
}
.menu {
  background-color: #8AEA92;
  display: inline-block;
  margin-right: 4%;
  width: 25%;
}
.content {
  background-color: #AB9CFF;
  display: inline-block;
  width: 70%;
}
