@import url(reset.css);
html {
  font-size: 10px;
  font-family: sans-serif;
}
.section {
  background-color: #00000010;
  padding: 3rem 0;
}
.section .conteiner {
  width: 1110px;
  margin: auto;
}
.tel {
  font-weight: bold;
  font-size: 2rem;
  color: #17101C;
  text-decoration: none;
}
.btn {
  border-radius: 8px;
  border: none;
  background-color: #FFAE00;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.5;
}
main {
  background: #fff url(../img/main-bg.jpg) center no-repeat;
  background-size: cover;
}
.header {
  height: 7rem;
  background-color: #00000010;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 3rem;
}
.header .box {
  background-color: #00000010;
  height: 7rem;
  display: grid;
  align-items: center;
}
.header-btn {
  font-size: 1.4rem;
}
.content {
  margin-top: 10rem;
  background-color: #00000010;
  height: 500px;
}
