@import url(./reset.css);

// Colors
@btn-color: #FFAE00;
@icons-color: #00AE00;
@text-color: #17101C;
@danger-color: #FF0000;
@bg-dark: #006100;
@bg-lite: #F3ECDC;
@lite: #fff;
@bc: #00000010;

// Basic setting
html {
    font-size: 10px;
    font-family: sans-serif;
    // line-height: 1.5;
}

.section {
    background-color: @bc;
    padding: 3rem 0;

    .conteiner {
        width: 1110px;
        margin: auto;
    }
}

.tel {
    // font-family: 'ProximaNova_bold', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: @text-color;
    text-decoration: none;
    // height: 7rem;
    // line-height: 7rem;
}

.btn {
    border-radius: 8px;
    border: none;
    background-color: @btn-color;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    color: @lite;
    text-transform: uppercase;
    line-height: 1.5;
    // -webkit-transition: all 0.2s;
    // -o-transition: all 0.2s;
    // transition: all 0.2s;
}

//Tipography

main {
    background: @lite url(../img/main-bg.jpg) center no-repeat;
    background-size: cover;
}

.header {
    height: 7rem;
    // margin-bottom: 100px;
    // width: auto;
    background-color: @bc;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 3rem;
    // align-self: center;

    .box {
        background-color: @bc;
        height: 7rem;
        display: grid;
        align-items: center;

        // &-tel {
        //     justify-self: end;
        // }

        // &-btn {
        //     justify-self: end;
        // }
    }

    &-btn {
        font-size: 1.4rem;
    }
}

.content {
    margin-top: 10rem;
    background-color: @bc;
    height: 500px;
}