@import url(./reset.css);
@import url(../fonts/stylesheet.css);

// ----------- Fonts -----------
.reg() {
    font-family: 'Proxima Nova Rg', sans-serif;
}

.bold() {
    font-family: 'Proxima Nova Bold', sans-serif;
}

.lt() {
    font-family: 'Proxima Nova Lt', sans-serif;
}

// ----------- Colors -----------
@btn-color: #FFAE00;
@icons-color: #46b814;
@text-color: #212529;
@danger-color: #FF0000;
@border-input: #dddddd;
@bg-dark: #006100;
@bg-lite: #F3ECDC;
@lite: #fff;
// @bc: #00000010;
@bc: #00000000;

// ----------- Basic setting -----------
html {
    font-size: 10px;
    // line-height: 1.5;
}

body {
    .reg();
}

button,
input,
a {
    &:focus {
        outline: none;
    }
}

// ----------- GRID & ADAPTIVE -----------

.section {
    background-color: @bc;
    padding: 3rem 0;

    .conteiner {
        max-width: 1160px;
        margin: 0px auto;
        padding: 0 30px;
    }
}

@media (max-width:1000px) {
    .conteiner {
        max-width: none;
        margin: 0px auto;
        padding: 0 30px;
    }
}

// --------------------------------------------------
.tel-link {
    .bold();
    font-size: 2rem;
    color: @text-color;
    text-decoration: none;
    // height: 7rem;
    // line-height: 7rem;
}

// a {
//     transition: all 0.2s;

//     &:hover {
//         cursor: pointer;
//         // text-decoration: none;
//     }
// }

.btn {
    .reg();
    border-radius: 8px;
    border: none;
    background-color: @btn-color;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    color: @lite;
    text-transform: uppercase;
    line-height: 1.5;
    // -webkit-transition: all 0.2s;
    // -o-transition: all 0.2s;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        background-color: darken(@btn-color, 5%);
    }
}

h1,
h2,
h3,
h4,
h5,
strong {
    .bold();
}

//Tipography

main {
    background: @lite url(../img/main-bg.jpg) center no-repeat;
    background-size: cover;

    .header {
        height: 7rem;
        background-color: @bc;
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-gap: 3rem;

        .box {
            background-color: @bc;
            height: 7rem;
            display: grid;
            align-items: center;
        }

        &-btn {
            font-size: 1.4rem;
        }
    }

    .content {
        margin-top: 10rem;
        background-color: @bc;
        display: grid;
        grid-template-columns: 1fr 35rem;
        // grid-template-rows: auto auto;
        // grid-template-areas:
        //     "a b"
        //     "a c"
        // ;
        grid-gap: 3rem;
        color: @text-color;

        .box {
            background-color: @bc;

            &-title {
                display: grid;
                grid-gap: 4rem;
                grid-area: 1/1/3/2;

                h1 {
                    // .bold();
                    font-size: 4rem;
                    margin-top: -1.45rem;
                    line-height: 1.45;
                    text-transform: uppercase;
                }

                .main-subtitle {
                    font-size: 2.4rem;
                    line-height: 1.5;
                }

                .main-price {
                    background-color: @icons-color;
                    width: max-content;
                    padding: 3rem 5rem;
                    .reg();
                    font-size: 1.8rem;
                    line-height: 1.5;
                    color: @lite;
                    text-align: center;

                    strong {
                        font-size: 3rem;
                    }

                    sup {
                        top: -.5em;
                        position: relative;
                        font-size: 75%;
                    }
                }

                .main-trigger {
                    // .bold();
                    font-size: 2.2rem;
                    text-transform: uppercase;
                    // font-weight: bolder;

                }
            }

            &-form {
                // display: grid;
                // grid-template-columns: 1fr;
                // grid-template-rows: auto auto;
                // grid-template: auto auto/1fr;
                // grid-gap: 3rem;

                form {
                    padding: 4rem 5rem;
                    background-color: @lite;
                    display: grid;
                    grid-gap: 2rem;
                    text-align: center;

                    .form-title {
                        font-size: 1.7rem;
                        line-height: 1.2;
                        margin-bottom: 2rem;
                        // border: 1px solid red;
                    }

                    .box {
                        display: grid;
                        // border: 1px solid red;
                        // margin: 2rem 0;

                        label {
                            justify-self: center;
                            display: inline-block;
                            position: absolute;
                            transform: translateY(-50%);
                            background-color: @lite;
                            // border: 1px solid red;
                            padding: 0.5rem;
                            font-size: 1.3rem;
                        }

                        input {
                            border: 1px solid @border-input;
                            border-radius: 5px;
                            padding: 1.5rem;
                            font-size: 1.7rem;
                            line-height: 1.5;
                        }
                    }

                    .btn {
                        height: 5.5rem;
                    }

                    .litle {
                        line-height: 1.5;
                    }
                }

                .note {
                    // grid-column-start: 2;
                    margin-top: 3rem;
                    text-align: center;
                    font-size: 1.4rem;
                    line-height: 1.5;
                    background-color: @bc;
                }
            }
        }
    }
}