@import url(/reset.css);
.box {
  width: 200px;
  height: 200px;
  background-color: red;
  transition: all 1s;
}
.box:hover {
  background-color: #fffb00;
}
.link1 {
  text-decoration: none;
}
.link1:hover {
  text-decoration: underline;
}
.link1:active {
  color: red;
}
.link1:visited {
  color: #c300ff;
}
input[type="text"]:focus {
  outline: none;
  border: 1px solid red;
  box-shadow: 1px 1px 10px #ff0000;
}
input[type="checkbox"]:checked + span {
  background: #fc0;
}
li:nth-child(2n) {
  background-color: gray;
}
.link2 {
  display: block;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: #575757;
  font-size: 30px;
}
.link2::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: #575757;
  transition: all 0.5s;
}
.link2:hover::before {
  transform: scaleX(1);
}
.link2 p {
  padding: 0;
  margin: 0;
}
